body{
    background-size: cover;
    background-position: center;
}

.link{
    background: white;
    border-radius: 10px;
    width: 250px;
    margin-top: 30px;
    font-size: medium;
}

.link:hover{
    font-size: large;
}